<h1>Blocks</h1>
<ul class="top-nav"><li class="first last add-new"><%= link_to 'New Block', new_cms_block_path, :title => 'Create New Block' %></li></ul>
<table class="list" cellpadding="0" cellspacing="0">
  <thead>
    <tr class="first last">
      <th class="first last">Title</th>
    </tr>
  </thead>
  <tbody>
<% @cms_blocks.each do |cms_block| %>
  <tr>
    <td class="first last title">
      <div class="title"><%= link_to h(cms_block.title), edit_cms_block_path(cms_block), :title => 'Edit Block' %></div>
      <div class="actions">
        <%= link_to 'Edit', edit_cms_block_path(cms_block), :title => 'Edit Block' %>
        <%= link_to 'Destroy', cms_block, :confirm => 'Are you sure?', :method => :delete, :class => 'last', :title => 'Delete Block' %>
      </div>
    </td>
  </tr>
<% end %>
</table>