body { margin:0; padding:0; background-color:#f9f9f9; color:#333; font-size:16px; }
img { border:none; }
.page-title { padding:10px; clear:both; background:-moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent; border-bottom:1px solid #C6C6C6;}
.page-title h1 { margin:0; color:#464646; font:22px Georgia,"Times New Roman","Bitstream Charter",Times,serif; }

.menu { float:left; width:150px; }
.content { margin-left:160px; padding:0 25px 25px 0; }

.menu ul { list-style:none outside none; position:relative; padding:0; margin:10px; }

.menu ul ul { margin:0; }
.menu ul li.container { font:13px/18px Georgia,"Times New Roman","Bitstream Charter",Times,serif;  background-color:#f1f1f1; border:1px solid #aaaaaa; margin-top:10px; padding:3px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; }

.menu ul li ul li.first { background-color:#fff; border-top:1px solid #aaaaaa; }

.menu ul li ul li { font:11px/18px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; background-color:#fff; border:none; margin-top:0; padding:2px 8px; }
.menu ul li ul li a { color:#21759b; }

.content h1 { font:italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif; margin:0; padding:14px 15px 3px 0; text-shadow:0 1px 0 #FFFFFF; color:#464646; }

table.list { min-width:800px; }
table.list thead th { background:#dfdfdf url("../images/list-head.png") 0 0 repeat-x scroll; text-shadow:0 1px 0 rgba(255, 255, 255, 0.8); line-height:1.3em; padding:7px 7px 8px; text-align:left; font-size:12px; }

/* Admin */
form div.input label.title { display:block; color:#464646; background:#dfdfdf url("../images/list-head.png") 0 0 repeat-x scroll; padding:3px 10px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; }
form div.input label.title span.required { color:#FF0000; font-size:14px; margin-left:3px; }
form div.input div.field { margin-bottom:10px; padding:5px; border:1px solid #dfdfdf; -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; }

form div.input div.field textarea { width:100%; }

/* floating buttons */
#form-buttons { border:1px solid #dfdfdf; margin-bottom:10px; padding:8px 10px; text-align:right; display:block; color:#464646; background:#dfdfdf url(../images/list-head.png) 0 0 repeat-x scroll; -moz-border-radius:5px; -webkit-radius:5px; }
#floating-buttons { position:fixed; left:0; top:0; width:100%; z-index:100; background:none repeat scroll 0 0 #FDFAA4; border-bottom:1px solid #988753; margin-bottom:10px; }
#floating-buttons #form-buttons-inner { opacity:0.85; padding:8px 10px; color:#464646; float:right; }
#floating-buttons h2 { float:left; font-size:18px; font-weight:normal; margin:0; padding:8px 10px; }

/* borders and curves */
table.list thead tr.first th { border-top:1px solid #dfdfdf; }
table.list thead tr.first th.first { -moz-border-radius-topleft:8px; -webkit-border-top-left-radius:8px; }
table.list thead tr.first th.last { -moz-border-radius-topright:8px; -webkit-border-top-right-radius:8px; }
table.list thead th.last, table.list tbody td.last { border-right:1px solid #dfdfdf; }
table.list thead th.first, table.list tbody td.first { border-left:1px solid #dfdfdf; }

table.list tbody td { padding:5px 10px; border-bottom:1px solid #dfdfdf; vertical-align:top; }
table.list tbody td a { color:#21759b; text-decoration:none; }
table.list tbody td .actions { visibility:hidden; padding-top:5px; }
table.list tbody tr:hover .actions { visibility:visible; padding-top:5px; }
table.list tbody td .actions a { font-size:12px; border-right:1px solid #21759b; padding-right:5px; }
table.list tbody td .actions a:hover { text-decoration:underline; }
table.list tbody td .actions a.last { padding:0; border:none; }

.top-nav { list-style:none outside none; position:relative; padding:0; margin:10px; }
.top-nav ul {}
.top-nav li {}
.top-nav li a { font-size:14px; text-decoration:none; color:#21759b; }
.top-nav li a:hover { text-decoration:underline; }
.top-nav li.add-new a { background:transparent url("../images/1280419778_add.png") 0 0 no-repeat; padding:2px 0 0 20px; }

#cms_page_cms_meta_attributes_cms_content_content_tbl { width:100%; }

.mceIframeContainer { height:100%; }
.mce-editor { height:600px; }

#flash_notice { background:url("../images/notice.png") no-repeat scroll 10px 50% #FFFFFF; border:1px solid #CCCCCC; margin-top:10px; padding:10px 50px; }
.errorExplanation { background:url("../images/warning.png") no-repeat scroll 10px 5px #fff; border:1px solid #ccc; margin:10px 0; padding:10px 50px; }
.errorExplanation h2 { margin:0; padding-top:3px; font-size:18px; }
.errorExplanation p { margin:5px 0 3px 0; font-size:14px; }
.errorExplanation ul { margin:0; padding:0 20px; font-size:14px; }
.errorExplanation ul li {}

.fieldWithErrors input { background-color:#ffffcc; }