<div id="form-buttons" style="width: auto">
  <div id="form-buttons-inner">
    <div class="form-buttons">
      <button class="btn-form back" onclick="window.location = '<%= url_for(:controller => controller.controller_name, :action => 'index') %>';" type="button">Back</button>
      <%= submit_tag 'Save' %>
      <%= submit_tag 'Save and Continue Edit' %>
    </div>
  </div>
</div>
<div id="floating-buttons" class="floating-buttons" style="display:none;">
  <h2>This is the name</h2>
</div>